<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.ftoutiao.account.android.rebet">

    <application
        android:theme="@style/AppTheme">
        <activity android:name=".MineRebateActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".pay.ApplyWithdrawActivity" />
        <activity android:name=".pay.AddWithDrawAccountActivity" />
        <activity android:name=".pay.JoinRecorderActivity" />
        <activity android:name=".pay.RebateDetailActivity" />
        <activity android:name=".pay.FinancialDetailsActivity" />
        <activity android:name=".RebateSortActivity"></activity>
    </application>

</manifest>